<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQXRs71ksfimihLLnwBgMAC81e1PaVkJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>737083982350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hdi365.aqualife</string>
	<key>PROJECT_ID</key>
	<string>aqualife-37e4f</string>
	<key>STORAGE_BUCKET</key>
	<string>aqualife-37e4f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737083982350:ios:b2cecba80872131a7db25f</string>
</dict>
</plist>